In [1]:
import re
import pandas as pd
from konlpy.tag import Mecab
from soynlp.normalizer import *

In [2]:
# basic preprocessing

def clean_text(text):
    text = re.sub(r'[@%\\*=()/~#&\+รก?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"]', '', text) #remove punctuation
    text = re.sub(r'\d+','', text)# remove number
    text = text.lower() #lower case
    text = re.sub(r'\s+', ' ', text) #remove extra space
    text = re.sub(r'<[^>]+>','',text) #remove Html tags
    text = re.sub(r'\s+', ' ', text) #remove spaces
    text = re.sub(r"^\s+", '', text) #remove space from start
    text = re.sub(r'\s+$', '', text) #remove space from the end
    return text

In [3]:
# seperate by morphs

mecab = Mecab()
mecab_tokenize = lambda doc : " ".join(mecab.morphs(doc))

In [4]:
# normalize repeated words
norm_repeat = lambda doc : repeat_normalize(doc, num_repeats=2)

In [6]:
dataset = pd.read_csv('./dataset/cleaned_data.csv')

In [7]:
dataset['text'] = dataset['text'].apply(lambda doc : norm_repeat(clean_text(doc)))

In [8]:
dataset.shape

(38509, 2)

In [9]:
dataset = dataset.dropna(axis=0, how='any')

In [10]:
dataset.shape

(38509, 2)

In [11]:
dataset.to_csv("./dataset/preprocessed_data.csv", index=False)

In [13]:
df = pd.read_csv("./dataset/preprocessed_data.csv")

In [14]:
df.loc[df['text'].apply(type).astype(str) != "<class 'str'>", :]

      text     label
10134  NaN  surprise

In [15]:
df = df.dropna(axis=0, how='any')

In [17]:
df.shape

(38508, 2)

In [18]:
df.to_csv("./dataset/preprocessed_data.csv", index=False)

In [20]:
df = pd.read_csv("./dataset/preprocessed_data.csv")
df.shape

(38508, 2)