In [2]:
import os
import pandas as pd

In [6]:
file_root = "./dataset/"
files = os.listdir(file_root)

In [29]:
datasets = []
for file in files:
    if file.endswith(".csv"):
        datasets.append(pd.read_csv(file_root + file, encoding='cp949'))
    else:
        datasets.append(pd.read_excel(file_root + file))

In [37]:
UNIFIED_LABEL = {
    '행복' : 'happiness',
    '놀람' : 'surprise',
    '분노' : 'angry',
    '공포' : 'fear',
    '혐오' : 'disgust',
    '슬픔' : 'sadness',
    '중립' : 'neutral'
}

LABELS = set(UNIFIED_LABEL.values())

In [36]:
datasets[0]['상황'].value_counts()

happiness    4548
angry        3263
neutral      3253
sadness      2848
disgust      2321
surprise     1755
fear         1386
Name: 상황, dtype: int64

In [35]:
datasets[2]['Emotion'].value_counts()

행복    6037
놀람    5898
분노    5665
공포    5468
혐오    5429
슬픔    5267
중립    4830
Name: Emotion, dtype: int64

In [30]:
col_names = ['Text', 'Label']

# empty dataframe for merging all datsets
data = pd.DataFrame(columns=col_names)

for dataset in datasets:
    if '상황' in dataset.columns and '발화문' in dataset.columns:
        dataset = dataset[['발화문', '상황']]
        dataset.columns = col_names
        
    else:
        dataset = dataset[['Sentence', 'Emotion']]
        dataset.columns = col_names
        dataset = dataset.replace()
        
    data = pd.concat(data, dataset, axis=0)

,wav_id,발화문,상황,1번 감정,1번 감정세기,2번 감정,2번 감정세기,3번 감정,3번 감정세기,4번 감정,4번감정세기,5번 감정,5번 감정세기,나이,성별
0,5f4141e29dd513131eacee2f,헐! 나 이벤트에 당첨 됐어.,happiness,angry,2,surprise,2,happiness,2,happiness,2,happiness,2,48,female
1,5f4141f59dd513131eacee30,내가 좋아하는 인플루언서가 이벤트를 하더라고. 그래서 그냥 신청 한번 해봤지.,happiness,neutral,0,happiness,2,happiness,2,happiness,2,happiness,2,48,female
2,5f4142119dd513131eacee31,"한 명 뽑는 거였는데, 그게 바로 내가 된 거야.",happiness,angry,2,happiness,2,happiness,2,happiness,2,happiness,2,48,female
3,5f4142279dd513131eacee32,"당연히 마음에 드는 선물이니깐, 이벤트에 내가 신청 한번 해본 거지. 비싼 거야. ...",happiness,angry,2,happiness,2,happiness,2,happiness,2,happiness,1,48,female
4,5f3c9ed98a3c1005aa97c4bd,에피타이저 정말 좋아해. 그 것도 괜찮은 생각인 것 같애.,neutral,happiness,2,happiness,1,happiness,2,happiness,1,happiness,1,48,female